<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Eventos</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
    <body>
        <h3><a href="/eventos" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Listar Evento</a>

        <th:block th:include="evento/mensagemValidacao"></th:block>

        <h1>Cadastro de eventos</h1>
        <form class="container" method="post">
            Nome: <input type="text" value="" name="nome"/>

            <div class="row">
                <div class="input-field col s6">
                    Local: <input type="text" value="" name="local"/>
                </div>
                <div class="input-field col s3">
                    Data: <input type="text" value="" name="data"/>
                </div>
                <div class="input-field col s3">
                    Horario: <input type="text" value="" name="horario"/>
                </div>
            </div>
            <button class="waves-effect waves-light btn" type="submit">Salvar</button>
        </form>

        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
</html>